.login-Container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid black;
  border-radius: 10px;
  transform: translate(-50%, -50%); /* Offset to perfectly center the form */
}

.login--input {
  width: 100%;
  padding: 10px; /* Padding inside the input field */
  margin: 10px 0; /* Space between the inputs */
  border: 1px solid #ccc; /* Light border */
}

.button-Container {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.header {
  display: flex;
  padding: 20px;
  font-size: large;
  background-color: black;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 6px;
  width: 95%;
  justify-content: center;
  color: white;
}

.dashboard-summary {
  display: flex;
  background-color: white;
  justify-content: center;
  width: 95%;
  border: 2px solid black;
  border-radius: 6px;
  padding: 20px;
  margin-left: 20px;
  height: 300px;
}
